* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: #fff;
}

header {
    background: #353535;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.0rem;
}

#hero {
    text-align: center;
    background: #4c6faf;
    padding: 50px 20px;
    color: white;
}

.cta-button {
    background: #fff;
    color: #4c93af;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

section {
    padding: 50px 20px;
    text-align: center;
}

section#about,
section#skills,
section#projects,
section#contact {
    background-color:   #414141;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section#about p,
section#skills ul,
section#projects .project {
    max-width: 800px;
    margin: 0 auto;
}

#skills ul {
    list-style-type: none;
}

#skills ul li {
    margin-bottom: 10px;
}

.project {
    background-color: #474b58;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project a {
    color: #51b1f1;
    text-decoration: none;
    font-weight: bold;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4c7aaf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #455da0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
